
*{
    padding: 0px;
    margin: 0px;
    color: rgb(216, 218, 220);
}

body, html { 
    height: 100%; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    background: url(https://img.freepik.com/free-vector/blurred-abstract-background_1107-166.jpg?w=826&t=st=1705859764~exp=1705860364~hmac=43d14e141ca9ff9fd27c697b084a031ca03a7e0d6268d11f966fa46eb46da181) no-repeat center bottom/cover;
    height: 100vh;
} 

/* .background { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background: url( 
    "https://img.freepik.com/free-vector/abstract-dark-unfocused-background_1034-239.jpg?w=826&t=st=1705858599~exp=1705859199~hmac=4036abb58e326514a290f49f9d55de94594d55db68e5b04b198389543772e680"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: blur(10px); 
    z-index: -1; 
} */



/*  .logo {
     width: 40px;
    height: 20px; 
} */

nav{
    display: flex;
    font-size: 22px;
    /* justify-content: space-around; 
    justify-content: center; */
    margin-top: 10px;
    height: auto;
    /* border: 2px solid black; */
    width: auto;
    margin-left: 10px;
    
}

.right ul{
    display: flex;
    gap: 10px;
    backdrop-filter: blur(20px);
    
}

.right ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 30px;
    
}

p {
    align-content: center;
   /* margin-left: 10px;
    margin-right: 10px; */
    padding: 10px;
    
}
p:first-child{
    margin-top: 25px;
}

.gitwala{
   align-items: end;
}

.box1  {
    /* border: 2px solid black; */
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}
span{
    font-size: 20px;
    margin-left: 4px;
}
.box2 { 
    padding: 10px;
    margin-top: -8px;
}
.box2 a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sticker {
    padding: 20px;
}
.bodymain{
    max-width: fit-content;
    max-height: fit-content;
}
div hr {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    margin: 0;
}
.name101{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
